@layer base {
  @font-face {
    font-family: 'Gordita';
    font-weight: 500;
    src: url('/Gordita Medium.otf') format('otf');
  }
  @font-face {
    font-family: 'Gordita-light';
    font-weight: 400;
    src: url('/Gordita Medium.otf') format('otf');
  }
}
