@import 'fonts/index.scss';
// background
$bgColorWhite: rgba(247, 250, 251, 1);
$textColorWhite: #f7fafb;
// text
$textColorBlack: #17181c;
$textColorGrey: rgba(82, 87, 101, 1);
$bgColorGrey: rgba(55, 74, 80, 0.5);
$containerWidth: 1624px;
$borderColorGrey: #d2d4da;
$cellGreen: rgba(0, 210, 162, 1);
$cellRed: rgba(225, 40, 40, 1);
$cellGrey: rgba(55, 74, 80, 0.5);
$headerGrey: #dfe5e7;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $bgColorWhite;
  font-family: $fontGordita500;
}

* {
  font-family: $fontGordita500;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
}

.wrapper {
  border: 1px solid $borderColorGrey;
  border-radius: 8px;
}
